.cmb-type-own-slider {
  visibility: hidden;
  /* hide slider until color scheme is applied */
}

.own-slider-field-value-display {
	float:right;
	font-weight: 400;
	font-size: 12px;
	color: #888;
	padding-top: .5em;
  display: none;
}


/* Jquery UI slider */
.cmb-type-own-slider .button-primary {
  height: 15px;
  text-shadow: none;
  box-shadow: none;
  border: 0;
  vertical-align: top;
  outline: 0!important;
}
.cmb-type-own-slider .button-primary:hover {
  height: 15px;
  text-shadow: none;
  box-shadow: none;
  border: 0;
}
.cmb-type-own-slider .ui-slider-range.button-primary {
  opacity: .9;
}
.cmb-type-own-slider .ui-slider-handle.button-primary {
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
}
.cmb-type-own-slider .ui-slider-range.button-primary:active {
  box-shadow: none;
  border: 0;
  vertical-align: top;
}
.cmb-type-own-slider .ui-slider-handle.button-primary:active {
  vertical-align: top;
  border: 0;
  box-shadow: none;
}
.cmb-type-own-slider .ui-slider-handle.button-primary:hover {
  opacity: 1;
}
.ui-corner-all,
 .ui-corner-all {
  border-radius: 0;
}

.ui-slider {
  border: 0;
  background: #eaeaea;
  background: rgba(0,0,0,.07);
  border-radius: 3px;
  position: relative;
}

.ui-slider-horizontal {
  height: 15px;
}

.ui-slider-vertical {
  height: 15em;
  width: 15px;
}
 .ui-slider-handle {
  background: #0085ba;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
}

 .ui-slider-handle:hover {
  opacity: .8;
}

 .ui-slider-range {
  border: 0;
  border-radius: 3;
  background: #0085ba;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 15px;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 15px;
}
